@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Madison Stanley's Web Page";
    // This is where I make the different views to pass around to the pages
}




<h1>Madison Stanley</h1>
<img src="img/skiing.jpg" width="400" height="500" />

<p>In IS 413 I hope to learn more about creating web apps using .NET, writing Razor pages using C#, and learn how to use libraries like Bootstrap, JQuery, etc. in the web apps. I'm super excited for this semester!!</p>
<br />
<p><b>My top 3 jobs I'd be most interested in: </b></p>
<ul>
    <li>Cyber Security Consultant</li>
    <li>Web Developer</li>
    <li>Project Manager</li>
</ul>


    
